body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}
.mynav {
    background: none;
    border: 0;
    border-radius: 0;
}
.carousel .carousel-item {
    height: 900px;
}
  
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    height: 900px;
}
#rectangle {
    width: 410px;
    height: 40px;
    background: rgb(0, 225, 255);
}